
@import url('https://fonts.googleapis.com/css2?family=Roboto:wght@300&display=swap');

*{
    margin: 0;
    padding: 0;
    box-sizing: border-box;
    font-family: 'Roboto', sans-serif;
}

body{
    background-image: linear-gradient(to right,rgb(235, 135, 135), rgb(139, 139, 236));
}

#form{
    width: 300px;
    margin: 20vh auto 0 auto;
    display: flex;
    flex-direction: column;
    padding: 20px;
    background-color: whitesmoke;
    border-radius: 4px;
}

#form h1{
    text-align: center;
}

#form input{
    border: 2px solid white;
    padding: 10px;
    border-radius: 4px;
    font-size: 1.1cm;
}

#form input:focus{
    outline: none;
}

button{
    margin-top: 10px;
    padding: 10px;
    border-radius: 4px;
    border: none;
    background-color: blue;
    color: white;
}


.container{
    margin-top: 30px;
    display: flex;
    flex-direction: column;
    justify-content: center;

}

tr,th,td{
    border: 2px solid #ddd;
}

table{
    width: 95%;
    margin: 20px;
    border-collapse: collapse;
}

th,tr{
    height: 40px;
}

td{
    text-align: center;
}

h2{
    display: flex;
    justify-content: center;
    align-items: center;
    /* margin-left: 40px; */
    /* margin-bottom: 250px; */
}